<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style_login.css') }}"/>
  <script src="script.js"></script>
</head>
<body>
  <form method="post" class="login-form">
      <label> Username </label>
    <input placeholder="Enter a username" type="text" name="username" class="login-input">
    <br>
    <label> Password : </label>
    <input placeholder="Enter your Password" type="password" name="password" class="login-input">
    <br>
    <input type="submit" value="Envoyer" class="login-button">
  </form>
</body>
</html>