<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <form method="post">
      <label> Username </label>
    <input placeholder="Enter a username" type="text" name="username">
    <br>
    <label> Password : </label>
    <input placeholder="Enter your Password" type="password" name="password">
    <br>
    <input type="submit" value="Envoyer">
  </form>
</body>
</html>