<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style_user.css') }}"/>
</head>
<body>
  <h1 id="titre">Hello {{ username }}</h1>

  <div id="menu">
    <button id="bouton1">Créer un RDV</button>
    <button id="bouton2">Mes RDV</button>
  </div>

  <form action="/logout" method="post" class="logout-form">
    <button type="submit">Déconnexion</button>
  </form>

  <div id="new_rdv">
    <h2>Créer un nouveau RDV :</h2>
    <form action="/rdv" method="post" class="login-form">
      <label>Nouveau RDV:</label>
      <input placeholder="Objet" type="text" name="objet">
      <br>
      <label>Date:</label>
      <input type="date" name="date">
      <input type="time" name="time">
      <br>
      <input type="submit" value="Envoyer">
    </form>
  </div>

  <div id="tableau" class="cache">
    <h2>Vos Rendez-vous :</h2>
    <table>
      <thead>
        <tr>
          <th>Objet</th>
          <th>Date du rendez-vous</th>
          <th> Supprimer des rendez-vous</th>
        </tr>
      </thead>


      <tbody>
        {% for item_id, item in table_rdv.items() %}
        <tr>
          <td>{{ item.objet }}</td>
          <td>{{ item.date}} : {{ item.time }}</td>
          <form method="post" action="/delete">
          <td> <input type="hidden" name="item_id" value="{{ item_id }}">
                <input type="submit" value="Supprimer">
          </td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="{{ url_for('static', path='index_menu_user.js') }}"></script>
</body>
</html>