<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style_user.css') }}"/>
</head>
<body>
  <h1 id="titre">Hello {{ username }}</h1>

  <div id="menu">
    <button id="bouton1">Créer un RDV</button>
    <button id="bouton2">Mes RDV</button>
  </div>

  <form action="/logout" method="post" class="logout-form">
    <button type="submit">Déconnexion</button>
  </form>



  <div id="tableau" class="cache">
    <h2>Le rendez-vous :</h2>
    <table>
      <thead>
        <tr>
          <th>Objet</th>
          <th>Date du rendez-vous</th>
          <th> Répondre</th>
        </tr>
      </thead>


      <tbody>
        {% for item_id, item in table_rdv.items() %}
        <tr>
          <td>{{ item.objet }}</td>
          <td>{{ item.date}} : {{ item.time }}</td>
          <form method="post" action="/delete">
          <td>
            <input type="submit" name="reponse_yes">Oui</input>
            <input type="submit" name="reponse_no">Non</input>
          </td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="{{ url_for('static', path='index_menu_user.js') }}"></script>
</body>
</html>